<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Menú Admin{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/menu_admin2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/dashboard.css') }}">

    
</head>
<body>
    <h1>Menú Admin</h1>

    <div class="welcome">
        <p>Hola, {{ user_name }} ({{ user_cargo }})</p>
    </div>

    <!-- Menú hamburguesa -->
    <nav>
        <div class="menu-icon" onclick="toggleMenu()">☰</div>
        <ul id="nav-links">
            <li><a href="{{ url_for('consulta_admin') }}">Consulta</a></li>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('asunto_crud') }}">Asuntos</a></li>
            <li><a href="{{ url_for('grado_crud') }}">Grados</a></li>
            <li><a href="{{ url_for('cargo_crud') }}">Cargos</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    <div class="logout">
        <a href="{{ url_for('logout') }}" class="btn">Cerrar Sesión</a>
    </div>

    <script>
        function toggleMenu() {
            var nav = document.getElementById("nav-links");
            if (nav.style.display === "flex") {
                nav.style.display = "none";
            } else {
                nav.style.display = "flex";
            }
        }
        window.addEventListener('popstate', function (event) {
        window.location.href = "{{ url_for('logout') }}";
    });
    </script>

</body>
</html>
