<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/menu_inicial.css') }}">
</head>
<body>
    <h1>Menú Inicial</h1>
    <div class="menu">
        <form action="/menu_alumno" method="GET">
            <button type="submit">Menú Alumno</button>
        </form>
        <form action="/menu_admin" method="GET">
            <button type="submit" class="admin">Menú Administrador</button>
        </form>
    </div>
</body>
</html>
